.imagen{
  max-height: 300px;
}
.w3-card-4 {
  margin: 0px;

}

.grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);

}

.grid-hijo{
  height: 100%;
  width: 100%;
  padding: 5px;
  text-align: center;
}
