<table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mark</td>
      <td>
        <button type="button" class="btn btn-danger waves-effect">
          <i class="material-icons">delete</i>
          <span>Delete</span>
        </button>
        <button type="button" class="btn btn-warning waves-effect">
          <i class="material-icons">edit</i>
          <span>Edit</span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
