<!-- Overlay For Sidebars -->
<div class="overlay"></div>

<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
            <a href="javascript:void(0);" class="bars"></a>
            <a class="navbar-brand" href="index.html">Hospital</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <!-- Call Search -->
                <li><a *ngIf="auth0.loggedIn" class="btn" (click)="logout_Auth0()">Cerrar Sesion(Auth)</a></li>
                <li><a *ngIf="auth.isloggedin()" class="btn" (click)="logout()">Cerrar Sesion</a></li>
                <li><a *ngIf="status()" class="btn" (click)="logout_Google()">Cerrar Sesion(Google)</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- #Top Bar -->
<section>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <!-- User Info -->
        <div class="user-info">
            <div class="image">
                <img src="assets/user.png" width="48" height="48" alt="User" />
            </div>
            <div class="info-container">
                <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">John Doe</div>
                <div class="email">john.doe@example.com</div>

            </div>
        </div>
        <!-- #User Info -->
        <!-- Menu -->
        <div class="menu">
            <ul class="list">
                <li class="header">MAIN NAVIGATION</li>
                <li class="active">
                    <a [routerLink]="['marvel']">
                        <i class="material-icons">home</i>
                        <span>Marvel</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['cita']">
                        <i class="material-icons">widgets</i>
                        <span>Citas</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['cirugia']">
                        <i class="material-icons">widgets</i>
                        <span>Cirugias</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['doctor']">
                        <i class="material-icons">widgets</i>
                        <span>Doctores</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['paciente']">
                        <i class="material-icons">widgets</i>
                        <span>Pacientes</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['especialidad']">
                        <i class="material-icons">widgets</i>
                        <span>Especialidad</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['consultorio']">
                        <i class="material-icons">widgets</i>
                        <span>Consultorio</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['quirofano']">
                        <i class="material-icons">widgets</i>
                        <span>Quirofanos</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['user']">
                        <i class="material-icons">widgets</i>
                        <span>Users</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- #Menu -->
        <!-- Footer -->
        <div class="legal">
            <div class="copyright">
                &copy; 2016 - 2017 <a href="javascript:void(0);">AdminBSB - Material Design</a>.
            </div>
            <div class="version">
                <b>Version: </b> 1.0.5
            </div>
        </div>
        <!-- #Footer -->
    </aside>
    <!-- #END# Left Sidebar -->
    <!-- Right Sidebar -->

    <!-- #END# Right Sidebar -->
</section>

<section class="content">
    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>
</section>
